@import 'colors';
@import 'fonts';


* {
  padding         : 0;
  margin          : 0;
  box-sizing      : border-box;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
  color           : $white;
  font-family     : $font_primary;
  background      : darken($primary, 25%);
  scroll-behavior: smooth;
}

main {
  overflow-x: hidden;
}

section {
  position        : relative;
  display         : flex;
  min-height      : 100vh;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size     : 2rem;
  margin-bottom : 1.5rem; 
}

p {
  font-family   : $font_secondary;
  line-height   : 1.6rem;
}

img {
  // display        : block;
  vertical-align: middle;
}

.btn {
  display: inline-block;
  padding: 20px 30px;
  color: $white;
  font-size: .7rem;
  font-family: $font_secondary;
  font-weight: $bold;
  text-decoration: none;
  text-transform: uppercase;
  //border: 2px solid $primary;
  background: $secondary;
  border-radius: 5rem;
  transition: all .2s ease-in-out;

  &:hover {
    background: $primary;
  }
}

.lettre_space {
  min-width: 11px;
}


.intro {
  flex-direction    : column;

  .animated_h2 {
    font-size: 5rem;

    @media screen and (max-width: 768px) {
      font-size: 250%;
    }

    span {
      display: inline-block;
    }
  }

  &__scroll {
    position: absolute;
    bottom: 150px;
    //transform: translateX(-120px);
  }
}

.works {
  background      : rgba($primary, .3);
  flex-direction  : column;
  justify-content: space-around;
  padding         : 8rem 3rem;
  position: relative;

  @media screen and (max-width: 768px) {
    padding: 3rem 2rem;
  }

  * {
    z-index: 1;
  }

  &:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: calc(50% - 1px);
    z-index: 1;

    height: calc(100% + 100px);
    width: 100%;
    background-color: $primary;
    background: linear-gradient(0deg, rgba($primary, 0) 10%, rgba($primary, 1) 85%, $primary 100%);
    border-top-left-radius: 2.5rem;
    border-bottom-left-radius: 2.5rem;

    transform: rotate(10deg);
  }
}

.job {
  @extend section;

  min-height        : 100%;
  margin            : 80px 0;
  // opacity           : 0;
  
  @media screen and (max-width: 768px) {
    display: block;
    margin: 0;
  }
  
  &__image {
    margin-right  : -3rem;
    width: 100%;
     
    img {
      width: 100%;
      vertical-align: middle;
      border-radius: 1rem;
    }
  }
  &__content {
    z-index       : 3;
    max-width     : 320px;
  }
}

.exp {
  flex-direction    : column;
  color             : white; 
  background        : darken($primary, 35%);

  h2 {
    font-size: 4rem;

    @media screen and (max-width: 768px) {
      font-size: 200%;
    }
    
    span {
      display: inline-block;
    }
  }
}
